
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Inter', sans-serif;
  }
  .text-gradient-primary {
    @apply bg-gradient-to-r from-[#1EAEDB] via-[#8B5CF6] to-[#9b87f5] bg-clip-text text-transparent;
  }
}

body {
  background-color: #F1F1F1;
}

.dark body {
  background-color: #1A1F2C;
}
